<div>
  <div ng-repeat="form_instance in form_list">
    <label>显示</label><input type="text" ng-model="form_instance['display']">
    <label>label</label><input type="text" ng-model="form_instance['label']" placeholder="建议dispaly的英文">
    <label>类型</label><input type="text" ng-model="form_instance['type']" disabled>
    <label>必填</label><input type="checkbox" ng-model="form_instance['required']">
    <a ng-click="list_remove($index)" style="cursor:pointer;">x</a>
  </div>
  <button class="btn btn-default" ng-click="list_add()">添加</button>
</div>
