<link rel="stylesheet" href="/css/newact.css">
<form class="form-horizontal" ng-controller="NewActCtrl" name="newActForm" ng-submit="newAct()">
  <div class="form-group">
    <label class="control-label col-lg-1">活动名</label>
    <div class="col-lg-2">
      <input type="text" name="act_name" class="form-control" ng-model="act_name" required>
      <div class="has-error" ng-show="newActForm.act_name.$error.required">
        <label class="control-label">Required</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-lg-1"></label>
    <div class="col-lg-2">
      <input type="submit" class="btn btn-default" value="创建活动">
    </div>
  </div>
  <div>
    <tt>act_name={{act_name}}</tt><br>
    <tt>newActForm.input.$valid = {{newActForm.act_name.$valid}}</tt><br>
    <tt>newActForm.input.$error = {{newActForm.act_name.$error}}</tt><br>
    <tt>newActForm.$valid = {{newActForm.$valid}}</tt><br>
    <tt>newActForm.$error.required = {{!!newActForm.$error.required}}</tt><br>
  </div>
</form>
