<div>
  <legend>报名统计</legend>
  <a class="btn btn-default" href="/api/registration/{{act.act_id}}/csv" target="view_window">导出csv</a>
  <table class="table table-hover">
    <thead>
      <tr>
        <th ng-repeat="item in act.s_form">{{item.display}}</th>
        <th>状态</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="reg_info in reg_list">
        <td ng-repeat="item in act.s_form">{{reg_info.form_data[item.label]}}</td>
        <td>{{reg_info.state}}</td>
      </tr>
    </tbody>
  </table>
</div>
