<div>
  <legend>活动报名</legend>
  <form class="form-horizontal" ng-submit="submit_sign()">
    
    <dz-reg-form sform="act.s_form" form-data="form_data"></dz-reg-form>

    <div class="form-group">
      <label class="control-label col-lg-2">发送信息到邮箱</label>
      <div class="col-lg-2">
        <input type="checkbox" ng-model="sendmail" style="position: relative; top: 5px;">
      </div>
    </div>
    <div class="form-group" ng-show="sendmail == true">
      <label class="control-label col-lg-2">发送到邮箱</label>
      <div class="col-lg-2">
        <input type="text" ng-model="mail_to" class="form-control" name="email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-2">添加到谷歌日历</label>
      <div class="col-lg-2">
        <input type="checkbox" ng-model="gcalender" style="position: relative; top: 5px;">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-2"></label>
      <div class="col-lg-2">
        <input type="submit" class="btn btn-default" value="提交报名"/>
      </div>
    </div>
    <a class="btn btn-default" href="https://accounts.google.com/o/oauth2/auth?redirect_uri=http%3A%2F%2Faips.wooqu.org%2Fgoogleoauth%2Fcallback&response_type=code&client_id=961600023656-ke4p5i9v1rvhuk1f5ruuttp684et6pcl.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar.readonly&approval_prompt=auto">googlecalendar</a>
    
  </form>
</div>
