<div>
  <legend>Activity Information</legend>
  <form class="form-horizontal" ng-submit="save_act()">
    <div class="form-group">
      <label class="control-label col-lg-2">活动ID</label>
      <div class="col-lg-3">
        <span class="form-control" disabled>{{act.act_id}}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-2">活动标题</label>
      <div class="col-lg-3">
        <input type="text" class="form-control" ng-model='act.name' required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-2">security key</label>
      <div class="col-lg-3">
        <input type="text" class="form-control" ng-model='act.security_key' required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-2">报名开始时间</label>
      <div class="col-lg-3">
        <input type="text" class="form-control" ng-model='act.reg_start'>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-2">报名结束时间</label>
      <div class="col-lg-3">
        <input type="text" class="form-control" ng-model='act.reg_end'>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-2">详细描述</label>
      <div class="col-lg-3">
        <input type="text" class="form-control" ng-model='act.description'>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-2">发送信息到邮箱</label>
      <div class="col-lg-3">
        <input type="text" class="form-control" style="width: 197px;float: left;" ng-model="mail_to"/>  
        <button class="btn btn-default" style="float: left; margin-left: 10px;" ng-click="send_mail()">发送</button>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-2">报名链接</label>
      <div class="col-lg-3">
        <a href="/sign_act/{{act.act_id}}">报名链接</a>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-2">报名统计</label>
      <div class="col-lg-3">
        <a href="/sign_info/{{act.act_id}}">报名统计</a>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-2">修改报名表</label>
      <div class="col-lg-3">
        <a href="/mod_reg/{{act.act_id}}">修改报名表</a>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-2">获取二维码</label>
      <div class="col-lg-3">
        <a href="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{dz_host}}/sign_act/{{act.act_id}}">点击获取</a>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-2"></label>
      <div class="col-lg-3">
        <input type="submit" class="btn btn-default" value="修改"/>
      </div>
    </div>
  </form>
</div>
