<form class="form-horizontal" name="newActForm" ng-submit="newAct()">
  <div class="form-group">
    <label class="control-label col-lg-1">活动名</label>
    <div class="col-lg-2">
      <input type="text" name="act_name" class="form-control" ng-model="new_act.name" required>
      <div class="has-error" ng-show="newActForm.act_name.$error.required">
        <label class="control-label">Required</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-lg-1"></label>
    <div class="col-lg-2">
      <input type="submit" class="btn btn-default" value="创建活动">
    </div>
  </div>
</form>
<a href="/img/aips_apidoc.pdf" style="margin-left: 20px;position:relative;top:70px;" target="view-window">下载文档</a>
