<label>显示</label><input type="text" ng-model="unit_info.display"/>
<label>类型</label>
<select ng-model="unit_info.type" ng-options="code.value as code.text for code in unit_types"></select>
<label>解释</label><input type="text" ng-model="unit_info.explanation"/>
<label>是否必填</label><input type="checkbox" ng-model="unit_info.required"/>
<label>选项</label><span ng-repeat="option in unit_info.extra_list">{{option.text}} x</span><a href="#" ng-click="show_add()" ng-show="!showadd && unit_info.type=='radio'">添加选项</a><span ng-show="showadd"><input type="text" ng-model="tmp_option"><a href="#" ng-click="add_option()">添加</a> <a href="#" ng-click="cancel()">取消</a></span>
