<% include header %>
<form class="form-horizontal" action="/newact" method="post">
  <div class="form-group">
    <label class="control-label col-lg-1">活动名</label>
    <div class="col-lg-2">
      <input type="text" name="act_name" class="form-control"/>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-lg-1">密码</label>
    <div class="col-lg-2">
      <input type="text" name="security_key" class="form-control"/>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-lg-1"></label>
    <div class="col-lg-2">
      <button class="btn btn-default">创建活动</button>
    </div>
  </div>
</form>
<% include footer %>
