<% include header %>
<div class="hide" id="nj-data">
var s_form = <%= s_form %>;
</div>
<div class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-lg-2">活动名</label>
    <div class="col-lg-3">
      <input class="form-control" type="text" value="<%= act_name %>" disabled>
    </div>
  </div>
</div>
<% include footer %>
