<% include header %>
<table class="table table-hover">
  <thead>
    <tr>
    <% for(var key in s_form){ %>
      <th><%= key %></th>
    <% } %>
    </tr>
  </thead>
  <tbody>
    <tr>
    <% for(var i in e_form_list){ %>
      <% for(var item in s_form){ %>
        <td><%= e_form_list[i]['content'][item] %></td>
      <% } %>
    <% } %>
    </tr>
  </tbody>
</table>
<% include footer %>
